**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/docker-compose*
**/Dockerfile*
**/obj
LICENSE
README.md
.editorconfig
.github
Itenium.ExcelCreator.WebApi/logs
**/.env
**/.env*
